/* home.css */

/* Hero Section */
.hero-section {
  position: relative;
  background-image: url("../../Images/home/herosec.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #f9f9f9;
  animation: fadeIn 2s ease-in-out;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  animation: slideInFromLeft 1.5s ease-out;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  animation: slideInFromRight 1.5s ease-out;
}

.hero-cta-button {
  font-size: 1.25rem;
  color: #fffbe6;
  background-color: #ff9100;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  animation: bounceIn 2s ease-in-out;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-cta-button:hover {
  background-color: #ffa733;
  transform: scale(1.1);
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Featured Products */
.featured-products {
  padding: 60px 20px;
  text-align: center;
  background-color: #d5ed9f; /* Light background color */
  border-top: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}

.featured-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.featured-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.featured-product-item {
  width: 250px;
  text-align: center;
  background-color: #fffbe6;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: beat 3s infinite;
  transition: box-shadow 0.3s ease;
}

.featured-product-image-wrapper {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
}

.featured-product-image {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.featured-product-image-wrapper:hover .featured-product-image {
  transform: scale(1.1); /* Zoom effect on hover */
}

.featured-product-name {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #4caf50;
  font-weight: bold;
  transition: color 0.3s ease;
}

.featured-product-name:hover {
  color: #3e8e41;
}

.featured-product-link {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 15px;
  color: #fffbe6;
  background-color: #00712d;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.featured-product-link:hover {
  background-color: #3e8e41;
  transform: translateY(-3px);
  color: #ff9100;
}
/* Responsive Design */
@media (max-width: 768px) {
  .featured-product-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .featured-title {
    font-size: 2rem;
  }
}

/* How It Works Section */
.how-it-works {
  position: relative;
  padding: 60px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(45deg, #d5ed9f, #fffbe6, #4caf50);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
}

/* Decorative Circles */
.decorative-circle {
  position: absolute;
  background-color: rgba(213, 237, 159, 0.3); /* Light green with low opacity */
  border-radius: 50%;
  z-index: 1;
  animation: float 6s ease-in-out infinite;
}

.circle1 {
  width: 200px;
  height: 200px;
  top: 20%;
  left: 15%;
  animation-delay: 0s;
}

.circle2 {
  width: 300px;
  height: 300px;
  bottom: 20%;
  right: 20%;
  animation-delay: 3s;
}

.circle3 {
  width: 150px;
  height: 150px;
  top: 70%;
  left: 70%;
  animation-delay: 6s;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Content Section */
.how-it-works::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black overlay with 40% opacity */
  z-index: 2;
}

.how-it-works-title,
.how-it-works-steps {
  position: relative;
  z-index: 3;
  color: #fffbe6;
}

.how-it-works-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: bold;
}

.how-it-works-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.how-it-works-step {
  margin-bottom: 30px;
}

.how-it-works-icon {
  font-size: 4rem;
  color: #4caf50;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.how-it-works-icon:hover {
  transform: scale(1.1);
}

.how-it-works-step-title {
  font-size: 1.5rem;
  margin: 15px 0;
  color: #4caf50;
  font-weight: bold;
  transition: color 0.3s ease;
}

.how-it-works-step-description {
  font-size: 1rem;
  color: #fffbe6;
  margin-bottom: 20px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Supplier Spotlight Section */
.supplier-spotlight {
  padding: 60px 20px;
  background-color: #d5ed9f;
  text-align: center;
}

.supplier-spotlight-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.supplier-spotlight-slider {
  max-width: 1200px;
  margin: 0 auto;
}

.supplier-spotlight-item {
  text-align: center;
  background-color: #fffbe6; /* Soft background */
  border-radius: 10px;
  padding: 20px;
  max-width: 390px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.supplier-spotlight-logo {
  max-width: 100px;
  /* height: auto; */
  border-radius: 10px;
  margin-bottom: 15px;
}

.supplier-spotlight-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #4caf50;
  font-weight: bold;
}

.supplier-spotlight-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  flex-grow: 10;
}

.supplier-spotlight-link {
  color: #fffbe6;
  background-color: #00712d;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s ease-in;
}

.supplier-spotlight-link:hover {
  background-color: #4caf50;
  color: #ff9100;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .supplier-spotlight-item {
    max-width: 340px;
    margin-bottom: 20px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .supplier-spotlight-title {
    font-size: 2rem;
  }
  .supplier-spotlight-slider {
    max-width: 300px;
    margin: 0 auto;
  }
}

/* Why Choose Us */
.why-choose-us {
  padding: 60px 20px;
  text-align: center;
}

.why-choose-us h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #00712d; /* Dark green color for heading */
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.why-choose-us ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.2rem;
  color: #333; /* Default dark color for text */
  margin: 0;
}

.why-choose-us li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-choose-us i {
  font-size: 1.5rem;
  color: #ff9100; /* Orange color for icons */
  margin-right: 10px;
}

.why-choose-us li span {
  color: #00712d; /* Dark green color for text */
  font-weight: 500;
}

.why-choose-us .additional-info {
  margin-top: 20px;
  font-size: 1rem;
  color: #555; /* Slightly lighter color for additional text */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.testimonials {
  padding: 60px 20px;
  background-color: #f4f4f4; /* Light gray background */
  text-align: center;
}

.testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #00712d; /* Dark green color for heading */
  font-weight: 700;
}

.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between testimonials */
}

.testimonial {
  background-color: #fff; /* White background for testimonials */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  margin: auto;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease;
}

.testimonial:hover {
  transform: translateY(-10px); /* Slight lift effect on hover */
}

.testimonial-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #00712d; /* Border around the avatar */
}

.testimonial-quote {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
  font-style: italic;
}

.testimonial-name {
  font-size: 1rem;
  color: #00712d;
  font-weight: 600;
}

.testimonials {
  padding: 60px 20px;
  background-color: #f4f4f4; /* Light gray background */
  text-align: center;
}

.testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #00712d; /* Dark green color for heading */
  font-weight: 700;
}

.testimonials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between testimonials */
}

.testimonial {
  background-color: #fff; /* White background for testimonials */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  margin: auto;
  text-align: left;
  position: relative;
  transition: transform 0.3s ease;
}

.testimonial:hover {
  transform: translateY(-10px); /* Slight lift effect on hover */
}

.testimonial-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #00712d; /* Border around the avatar */
}

.testimonial-quote {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 10px;
  font-style: italic;
}

.testimonial-name {
  font-size: 1rem;
  color: #00712d;
  font-weight: 600;
}

/* Call to Action */
/* Call to Action */
.call-to-action {
  background-color: #d5ed9f;
  padding: 60px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.call-to-action-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #00712d; /* Dark green color */
  font-weight: 700;
  animation: fadeInUp 1.5s ease-in-out;
}

.call-to-action-button {
  background-color: #00712d;
  color: #fffbe6;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  animation: bounceIn 2s ease-in-out;
}

.call-to-action-button:hover {
  background-color: #3e8e41;
  transform: translateY(-3px);
  color: #ff9100;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.call-to-action::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 3s infinite;
  z-index: 1;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 40px 80px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.modal-button {
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal-button:hover {
  background: #0056b3;
}

.modal-close-button {
  padding: 8px 16px;
  background: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal-close-button:hover {
  background: #d32f2f;
}
